<div class="ui one column page grid">
  <div class="column">
    <div class="ui segment" style="margin: 2em 0; box-shadow: none;">
    <h2 class="ui header">
      <i class="bullhorn icon"></i>
      <div class="content">
         Y... ¿Como funciona?
         <div class="sub header">Funciona <strike>como #twitter</strike> solo publicando lo que sucede en tu comunidad a travez de unos cuantos caracteres!.</div>
      </div>
    </h2>

    <p>Siendo sinceros intentamos que no se pareciera a #twitter pero fue dificil, asi que por ahora solo publica lo que realmente sucede en tu comunidad, no hay reglas, un par de texto y otros como tu podran ayudarte a contar lo que sucede... </p>
    <p>Entre los beneficios mas importantes de la plataforma se encuentran:</p>
    <div class="ui list">
      <div class="item">
        <div class="header">Primero es gratis!</div>
        Publicar no tiene ningun costo.
      </div>
      <div class="item">
        <div class="header">Segundo es libre!</div>
        Puedes publicar cualquier cosas relevante de tu comunidad.
      </div>
      <div class="item">
        <div class="header">No tiene derechos!</div>
        La informacion es tuya y de tu comunidad para el uso de todos.
      </div>
    </div>
  </div>
</div>
</div>
