<div class="blue ui center aligned inverted page grid segment">
  <div class="row">
    <div class="column">
      <div class="huge center aligned ui icon header">
        <i class="circular teal inverted bullhorn link icon"></i>
      </div>
      <h1 class="center aligned ui header">
        reporta.co
      </h1>
      <p class="center aligned ui header">
      Lo que sucede en tu comunidad, reportalo ahora.<br>
      <small style="font-weight: normal;">Los últimos acontecimientos de su comunidad, hechos historias y en un solo lugar. Como si fuera #twitter pero criollo.</small><br><br>
      <%= link_to '¿Quieres probarlo? Envia un email a hola@reporta.co', 'mailto:hola@reporta.co', :class => 'ui button' %>
      </p>
    </div>
  </div>
</div>
<div class="ui page grid segment" style="padding-top: 3.5rem; padding-bottom: 3.5rem;">
<div class="column">
  <div class="ui three column center aligned stackable divided grid">
    <div class="column">
      <div class="ui icon header">
        <i class="circular users link icon"></i>
        ¡Repórtalo!
      </div>
      <p>Todo lo que creas que pueda ser de interés para la comunidad.<br>El partido de fútbol, el estado de las vías, el tiempo, algo chistoso o quizá algo novedoso que suceda a tu alrededor.<br>Porque la mayoría de las veces las noticias no son como las cuentan, cuéntanos tú que es lo que ocurre.</p>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="circular book link icon"></i>
        ¡Mantente al día!
      </div>
      <p>Estar al tanto de todo lo que sucede es complejo; mucha información en muchos medios, no enfocada a lo que realmente te interesa. Por eso queremos que, como parte de tu comunidad, nos cuentes lo que sucede a tu alrededor, en el instante en que sucede.</p>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="circular rocket link icon"></i>
        Ciudad en Tiempo Real
      </div>
      <p>Todo lo que sucede en tu ciudad, un mismo lugar con diferentes puntos de vista y en tiempo real. Increíble, ¿no?<br>Esto no se ve ni en televisión.</p>
    </div>
  </div>
</div>
</div>
