<div class="blue ui center aligned inverted page grid segment">
  <div class="row">
    <div class="column">
      <div class="huge center aligned ui icon header">
        <i class="circular teal inverted bullhorn link icon"></i>
      </div>
      <h1 class="center aligned ui header">
        reporta.co
      </h1>
      <p class="center aligned ui header">
      Lo que sucede en tu comunidad, reportalo ahora.<br>
      <small style="font-weight: normal;">Los ultimos acontecimientos de todos los rincones de la comunidad en un solo lugar, como si fuera #twitter pero criollo.</small><br><br>
      <%= link_to '¿Quieres probarlo?', 'mailto:hola@reporta.co', :class => 'ui button' %>
      </p>
    </div>
  </div>
</div>
<div class="ui page grid segment" style="padding-top: 3.5rem; padding-bottom: 3.5rem;">
<div class="column">
  <div class="ui three column center aligned stackable divided grid">
    <div class="column">
      <div class="ui icon header">
        <i class="circular users link icon"></i>
        Reportalo!
      </div>
      <p>El partido de futbol, el accidente, algo chistoso, algo novedoso que suceda en tu comunidad. Todos queremos saber que sucede. ( Las noticias no son como las cuentan, por eso queremos que tu sea el que las cuente. )</p>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="circular book link icon"></i>
        Mantente al dia!
      </div>
      <p>Estar al tanto de todo lo que sucede es complejo, por eso queremos que vivas las historias contadas por la propia conmunidad y en el instante en que suceden. (La Informarcion deberia ser de todos y para todos)</p>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="circular rocket link icon"></i>
        Ciudad En Tiempo Real
      </div>
      <p>Lo que sucede en tu ciudad en un mismo lugar con diferentes puntos de vistas y en tiempo real. Increible, no? (Aprovechalo ni siquiera se ve en la television)</p>
    </div>
  </div>
</div>
</div>
