<div class="blue ui center aligned inverted page grid segment">
  <div class="row">
    <div class="column">
      <div class="huge center aligned ui icon header">
        <i class="circular teal inverted bullhorn link icon"></i>
      </div>
      <h1 class="center aligned ui header">
        reporta.co
      </h1>
      <p class="center aligned ui header">
      Lo que sucede en tu comunidad, reportalo ahora.<br>
       <small style="font-weight: normal;">Los ultimos acontecimientos de todos los lugares de Colombia en un solo lugar, como si fuera #twitter pero criollo.</small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class=" seven wide column">
      <div class="ui secondary form " >
        <div class="field">
          <div class="ui left icon action input">
            <i class="user icon"></i>
            <input name="email" type="text" placeholder="name@email.com">
            <div class="ui teal submit button">Inscribirse</div>
          </div>
        </div>
        <div class="ui error message"></div>
      </div>
    </div>
  </div>
</div>
<div class="ui page grid segment" style="padding-top: 3.5rem; padding-bottom: 3.5rem;">
<div class="column">
  <div class="ui three column center aligned stackable divided grid">
    <div class="column">
      <div class="ui icon header">
        <i class="circular users link icon"></i>
        Los Ciudadanos Reportan
      </div>
      <p>Las noticias no siempre son como las cuentan, reporta ahora lo que realmente sucede.</p>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="circular book link icon"></i>
        Los ciudadanos se Informan
      </div>
      <p>Vive historias hechas noticias desde un mismo lugar. Informarse de lo que sucede jamas habia sido tan facil</p>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="circular rocket link icon"></i>
        Ciudad en Tiempo Real
      </div>
      <p>Lo que sucede en tu ciudad en un mismo lugar con diferentes puntos de vistas y en tiempo real. Increible, no?</p>
    </div>
  </div>
</div>
</div>
