<div class="segment " style="background: #eee; padding: 43px 0;">
  <div class="ui page grid">
    <div class="row">
      <div class="five wide column">
        <i class="massive white bullhorn icon"></i>
      </div>
    </div>
    <div class="row">
      <div class="eight widw column">
        <h1 class="ui header">Ayuda a tener un pais mejor comunicado.</h1>
      </div>
    </div>
  </div>

</div>
