<div class="ui one column page grid">
  <div class="column">
    <div class="ui segment" style="margin: 2em 0; box-shadow: none;">
    <h2 class="ui header">
      <i class="quote left icon"></i>
      <div class="content">
         ¿Que es?     
         <div class="sub header">Reporta.co es <strike>la primera red social de noticias</strike> el lugar en internet para reportar cualquier acontecimiento de tu comuniad.</div>
      </div>
    </h2>

    <p>Reporta.co es una plataforma para que los ciudadanos puedan reportaar cualquier acontecimiento relevante de su comunidad. Piense que es como #twitter pero criollo. Mejor por que no empieza a reportar?</p>
    <p>Antes de publicar le sugiero que lea los siguientes articulos de como ser un reportero digital:</p>
    <div class="ui list">
      <a href="https://www.cibercorresponsales.org/pages/que-es-el-periodismo-ciudadano" class="item">
        <i class="right triangle icon"></i>
        ¿Qué es el periodismo ciudadano?
      </a>
      <a href="http://www.periodismociudadano.com/2009/12/12/10-consejos-para-ser-un-buen-periodista-ciudadano/" class="item">
        <i class="right triangle icon"></i>
        10 consejos para ser un buen periodista ciudadano
      </a>
      <a href="http://www.periodismociudadano.com/" class="item">
        <i class="right triangle icon"></i>
        Periodismo Ciudadano
      </a>
      <a href="http://233grados.lainformacion.com/blog/2008/10/12-pasos-para-ser-un-periodista-digital.html" class="item">
        <i class="right triangle icon"></i>
        12 pasos para ser un periodista digital
      </a>
    </div>
  </div>
</div>
</div>
