<div class="ui one column page grid">
  <div class="column">
    <div class="ui segment" style="margin: 2em 0; box-shadow: none;">
    <h2 class="ui header">
      <i class="bullhorn icon"></i>
      <div class="content">
         ¿Quiénes somos?
         <div class="sub header">Somo una <strike>red de emprendedores</strike> iniciativa de periodismo ciudadano a cargo de lanzacohete!.</div>
      </div>
    </h2>

    <p>Bueno siendo sinceros no hay un equipo multidisciplinar detras de Reporta.co, aun asi a continuacion les presentamos a los rockstars: </p>
    <div class="ui list">
      <a href="https://www.facebook.com/senorpasajero" class="item">
        <i class="right triangle icon"></i>
        Señor Pasajero, el que programa!
      </a>
      <a href="https://www.facebook.com/cximenalagos" class="item">
        <i class="right triangle icon"></i>
        Ximena Lagos, la que diseña!
      </a>
      <a href="https://www.facebook.com/JhonCortes1234" class="item">
        <i class="right triangle icon"></i>
        Jhon Cortes, el de las cuentas!
      </a>
    </div>
  </div>
</div>
</div>
