<div class="ui two column middle aligned relaxed page grid basic segment">
  <div class="column">
    Falta algo aqui
  </div>
  <div class="ui vertical divider">
        Or
          </div>
  <div class="column">
    <%= render 'form' %>
  </div>
</div>
