/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'semantic'
 *= require_self
 *= require_tree .
 */

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.vertical.menu .item > .icon:not(.input) {
  float: right;
  width: auto;
  margin: auto;
}

.ui.icon.buttons .button > .icon, .ui.icon.button > .icon {
  vertical-align: middle;
}

a.follow{
  position: relative;
}
a.follow sup{
  position: absolute;
  top: -5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: #f00;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  display: none;
}
