/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'semantic'
 *= require_self
 *= require 'dashboard'
 */


a.follow{
  position: relative;
}
a.follow sup{
  position: absolute;
  top: -5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: #f00;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  display: none;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.ui.dimmer .mini.ui.loader, .ui.inverted .mini.ui.loader {
  background-image: url(./loader-mini-inverted.gif);
}
.ui.dimmer .large.ui.loader, .ui.inverted .large.ui.loader {
  background-image: url(./loader-large-inverted.gif);
}
.ui.inverted.dimmer .ui.loader.large, .ui.loader.large {
  background-image: url(./loader-large.gif);
}
