<!DOCTYPE html>
<html>
<head>
  <title>Reportaco</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui blue fixed transparent inverted menu">
    <div class="title item">
      Reporta.co
    </div>

    <div class="right menu">
      <a href="" class="icon item">
        <i class="facebook icon"></i>
      </a>
      <a href="" class="icon item">
        <i class="twitter icon"></i>
      </a>
      <a href="" class="icon item">
        <i class="help icon"></i>
      </a>

    </div>

    
  </div>
  <%= yield %>

</body>
</html>
